 
.App {
  display: flex;
  height: 100vh;
}

.leftside, .rightside {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.leftside {
  background-color: #fff;  
   
}

.rightside {
  background-color: #fff;  
  margin-left: 300px;
  padding-left: 40px;  
}
 
 
@media (max-width: 768px) {
  .App {
    flex-direction: column;
  }

  .leftside, .rightside {
    flex: none;
    width: 100%;
    border-right: none;
    padding: 10px;
  }
}
